html {
  background-color: black;
  background-size: cover;
  background: url(background.jpg) no-repeat center fixed;
}

* {
  font-family: "Ubuntu", sans-serif;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.alink {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.container {
  background-color: rgba(75, 65, 65, 0.6);
  border: 5px solid rgba(75, 65, 65, 0.6);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 30px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.fixedHF {
  background-color: rgba(75, 65, 65, 0.6);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  left: 0;
  position: fixed;
  text-align: right;
  width: 100%;
}

#colorin {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#colorin:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

#caption {
  border: 2px ridge rgba(212, 212, 46, 0.6);
  border-radius: 5px;
  color: yellow;
  font-size: 10px;
  font-style: italic;
  margin: auto;
  padding: 2px;
  position: relative;
  text-align: center;
  width: fit-content;
}
